
/* styling the buttons*/
#AddButtons{
    /*-fx-background-color : #d9d9d9;
    -fx-border : 1 px solid #676767;*/
    -fx-background-radius: 10px;
}

#chairsLabel{
   -fx-text-fill: #00C853;
}

#tableLabel{
   -fx-text-fill: #6A1B9A;
}

#importLabel{
   -fx-text-fill: #2962FF;
}